<div class="selling">
   <div class="cov">
     <h4>Invoice</h4>
     <form action="">
        <div class="header">
           <p>Item</p>
           <p>Quantity</p>
           <p>Discount per Item</p>
           <p>Unit Price</p>
           <p>Net Price</p>
        </div>
        <div class="theValues">
           <select name="">
             <option value="Cement">Cements</option>
             <option value="Cement">Salt</option>
             <option value="Cement">Sugar</option>
             <option value="Cement">Floor</option>
             <option value="Cement">Rice</option>
           </select>
           <input type="number" value="">
           <input type="number" value="">
           <input type="number" value="">
           <input type="number" value="" readonly>
        </div>

        <div class="theValues">
           <select name="">
             <option value="Cement">Cements</option>
             <option value="Cement">Salt</option>
             <option value="Cement">Sugar</option>
             <option value="Cement">Floor</option>
             <option value="Cement">Rice</option>
           </select>
           <input type="number" value="">
           <input type="number" value="">
           <input type="number" value="">
           <input type="number" value="" readonly>
        </div>

        <div class="theValues">
           <select name="">
             <option value="Cement">Cements</option>
             <option value="Cement">Salt</option>
             <option value="Cement">Sugar</option>
             <option value="Cement">Floor</option>
             <option value="Cement">Rice</option>
           </select>
           <input type="number" value="">
           <input type="number" value="">
           <input type="number" value="">
           <input type="number" value="" readonly>
        </div>
        <button>submit</button>
     </form>
   </div>
</div>
