<div class="dashboard">
  <button>Welcome!</button>
  <div class="smallComponents">
     <div class="eachComponents">
        <div class="leftsection">
           <div></div>
        </div>
        <div class="rightsection">
          <p>N40,000,000</p>
          <p>Total Sales Yesterday</p>
        </div>
     </div>

     <div class="eachComponents">
        <div class="leftsection">
           <div></div>
        </div>
        <div class="rightsection">
          <p>N40,000,000</p>
          <p>Total Sales Yesterday</p>
        </div>
     </div>

     <div class="eachComponents">
        <div class="leftsection">
           <div></div>
        </div>
        <div class="rightsection">
          <p>N40,000,000</p>
          <p>Total Sales Yesterday</p>
        </div>
     </div>

     <div class="eachComponents">
        <div class="leftsection">
           <div></div>
        </div>
        <div class="rightsection">
          <p>N40,000,000</p>
          <p>Total Sales Yesterday</p>
        </div>
     </div>
  </div>

  <div class="meters">
    <div class="indicators">
      <h4>Indicator</h4>
       <div class="status">
            <p>status Ok</p>
       </div>
    </div>

    <div class="warehouse">
        <h4>Store</h4>
        <i class="fas fa-database"></i>
    </div>

    <div>
       <select>
         <option value="cement">Cement</option>
         <option value="Rice"></option>
       </select>
    </div>
  </div>
</div>
