<div class="nav">
  <ul>
    <li>Enterprise Management!</li>
    <li><a routerLink="/dashBoard"><span><i class="fab fa-elementor"></i></span>DashBoard</a></li>
    <li><a routerLink="/createproducts"><span><i class="fab fa-elementor"></i></span>Create Product</a></li>
    <li><a routerLink="/products"><span><i class="fab fa-elementor"></i></span>Products</a></li>
    <li><a routerLink="/selling"><span><i class="fab fa-elementor"></i></span>Sell Product</a></li>
    <li><a routerLink="/settings"><span><i class="fab fa-elementor"></i></span>Settings</a></li>
  </ul>
</div>
